name: pull_request_verify

on:
    pull_request:
        branches:
            - master

jobs:
    build_and_test:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2
            - uses: actions/setup-node@v2
              with:
                  node-version: 14
            - run: |
                  npm ci
                  npm test
              env:
                  CI: true
                  NPM_PRIVATE_READ: ${{ secrets.NPM_PRIVATE_READ }}
